@model AgenciaViajes.Models.Thabitacion

@{
    ViewData["Title"] = "Deshabilitar";
}

<h1>Deshabilitar</h1>

<h3>¿Seguro deseas deshabilitar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tipo de habitación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoHabitacion)
        </dd>
        <dt class = "col-sm-2">
            Habitación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            Cantidad de personas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPersonas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>
        <dt class = "col-sm-2">
            Hotel
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHotelNavigation.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProductoTh" />
        <input type="submit" value="Deshabilitar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
