@model IEnumerable<AgenciaViajes.Models.Tour>

@{
    ViewData["Title"] = "Tours";
}

<h1>Tours</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                Descripción
            </th>
            <th>
                Nombre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinos)
            </th>
            <th>
                País
            </th>
            <th>
                Fecha inicio
            </th>
            <th>
                Fecha fin
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripción)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destinos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoNavigation.Estado1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProducto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProducto">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProducto">Deshabilitar</a>
            </td>
        </tr>
}
    </tbody>
</table>
