@model IEnumerable<AgenciaViajes.Models.Aeropuert>

@{
    ViewData["Title"] = "Aeropuertos";
}

<h1>Aeropuertos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aeropuerto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                País
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aeropuerto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoNavigation.Estado1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAeropuerto">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAeropuerto">Deshabilitar</a>
            </td>
        </tr>
}
    </tbody>
</table>
